.bg-theme{
background-color: #f62459;
}
.cart-icon{
  font-size : 2 rem;
}
.card{
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-img{
  height : 40vh;
  width :60vw;
}
.corousel{
  padding : 30px 30px;
  align-items: center;
}
.hero-background{
  min-height:100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction : column;
}
.contact-background{
  min-height:50vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction : column;

}
.about-background{
  min-height:30vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction : column;
}
.btn-warning{
padding : 8px 35px;
}